<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Planetas MeLi</title>
  </head>
  <body>
    <div class="container" style="padding-top:5%;text-align: center">
        <h1 style="padding-bottom: 20px">Predictor de clima</h1>
        <form class="form-inline">
                <div class="form-group mb-2">
                    <label for="diasInput">Dia</label>
                    <input type="text" class="form-control" id="diasInput" style="margin: 0 15px">
                </div>
                <input type="button" class="btn btn-primary mb-2 center" value="Predecir Clima" onclick="predecirDia()">
        </form>
        <div class="row">
            <div class="col">
                <div id="divPrediccion">
                </div>
                <figure id="figurePlot">

                </figure>
            </div>
        </div>
    </div>   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/JavaScript">
        function predecirDia(){
            $.get("/clima", { dia: $('#diasInput').val()} )
            .done(function( data) {
                var result = `<div class="alert alert-info"><h4>Para el dia ${data.dia} el clima pronosticado es: ${data.clima}</h4></div>`;
                $('#divPrediccion').html(result);
            })
            .fail(function(error){
                var result = `<div class="alert alert-danger"><h4>No se pudo obtener la prediccion. ERROR ${JSON.stringify(error)}</h4></div>`
                $('#divPrediccion').html(result);    
            });
            
            $.get("/imagen", { dia: $('#diasInput').val()} )
            .done(function( base64_string ) {
                var image = $("<img>", {
                "src": "data:image/png;base64," + base64_string,
                "class":'img-fluid'
                });
                $('#figurePlot').html(image);
            })
            .fail(function(error){
                var result = `<div class="alert alert-danger"><h4>No se pudo obtener imagen de la prediccion.</h4> ERROR ${JSON.stringify(error)}</div>`
                $('#figurePlot').html(result);    
            });
        }
        
    </script>
  </body>
</html>